footer {
    font-family: 'Open Sans', sans-serif;
}

footer h5 {
    font-family: 'Poppins', sans-serif;
    color: #FE7058;
    font-weight: bold;
}

footer a {
    color: white;
    transition: color 0.3s ease-in-out;
}

footer a:hover {
    color: #FE7058;
}

.social-icons i {
    font-size: 1.2rem;
    transition: transform 0.3s ease-in-out;
}

.social-icons i:hover {
    transform: scale(1.2);
}

footer p {
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.8);
}