/* Estilo para la cabecera fija */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #333;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilo del botón del menú */
.btn-outline-light {
    font-size: 1.5rem;
    padding: 0.25rem 0.5rem;
}

/* Estilo del menú lateral */
.sidebar {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    background-color: #333;
    transition: right 0.3s ease-in-out;
    z-index: 1000;
    box-shadow: -4px 0 6px rgba(0, 0, 0, 0.2);
}

/* Mostrar el menú lateral cuando está abierto */
.sidebar.open {
    right: 0;
}

/* Botón para cerrar el menú */
.btn-close-menu {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    padding: 0.25rem 0.5rem;
}

/* Efecto hover en el logo */
.logo-hover {
    transition: transform 0.3s ease-in-out;
}

.logo-hover:hover {
    transform: scale(1.1) rotate(-5deg);
    cursor: pointer;
}

/* Efecto hover en los enlaces del menú */
.menu-link {
    transition: background-color 0.3s ease, color 0.3s ease;
}

.menu-link:hover {
    background-color: #FE7058;
    color: white !important;
}

/* Efecto hover en los botones especiales */
.btn-register, .btn-login {
    transition: transform 0.3s ease-in-out;
}

.btn-register:hover, .btn-login:hover {
    animation: bounce 0.5s ease;
}

.btn-welcome {
    transition: color 0.3s ease-in-out;
}

.btn-welcome:hover {
    color: #ff5b3e;
}

/* Efecto hover en botón de logout */
.btn-logout {
    transition: background-color 0.3s ease;
}

.btn-logout:hover {
    background-color: #dc3545;
}

/* Animación de bote */
@keyframes bounce {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
}
